@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
body{
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 50px;
}
.title{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 28px;
}
.box {
    width: 264px;
    height: 217px;
    background: #D9D9D9;
    margin: 10px;
    padding: 15px;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}
.right-button{
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #2B7CC7;
    color: #faf9f9;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    width: 20%;
    margin: 10px;
}
.right-button i{
    margin-right: 5px;
    color: #2b7cc7;
    border-radius: 55%;
    background-color: #faf9f9;
    margin: 10px;
}
.right-button-container{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
.filters{
    display: flex;
    align-items: center;
    padding: 20px;
}
.chosen{
    border-bottom: 3px solid #2B7CC7;
}
.text{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-right: 100px;
}

.sport-news{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.image{
    height: auto;
    max-width: 100%;
    margin: 10px;
}
.info{
    display: flex;
    flex-direction: column;
}
.actions{
    grid-row: 3;
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.actions span{
    display: flex;
    align-items: center;
}
.actions i{
    margin-right: 5px;
}
